/* ========== The source of demo preview has been stripped and compressed for security reasons. ========== */
@import url("theme_1_animation_2.css")/*tpa=http://lizard-themes.com/cc/talossub/css/theme_1_animation_2.css*/;
@import url("font-awesome.min.css")/*tpa=http://lizard-themes.com/cc/talossub/css/font-awesome.min.css*/;
@import url("font-awesome-ie7.min.css")/*tpa=http://lizard-themes.com/cc/talossub/css/font-awesome-ie7.min.css*/;
@import url("theme_1_responsive.css")/*tpa=http://lizard-themes.com/cc/talossub/css/theme_1_responsive.css*/;
a{color:#09F;text-decoration:none}
a:hover{text-decoration:underline}
p{
	margin:20px auto 0;
	font:16px Tahoma,Geneva,sans-serif;
	text-align:center};